#thefile {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}
